.cabecalho {
	display: flex;
	height: 57px;
	margin-bottom: 2rem;
	width: 90vw;
}

.cabecalho__imagemPerfil {
	background-image: url(../images/perfil/perfil-1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 100%;
	height: 3.75rem;
	width: 3.75rem;
}

.cabecalho--textos {
	display: flex;
	flex-direction: column;
	height: 80%;
	justify-content: space-between;
	margin: 0.6rem 0 0 1rem;
	width: calc(90vw - 4.75rem);
}

.cabecalho__boasVindas {
	font-size: 22px;
	font-weight: 700;
}

.cabecalho__notificacao {
	color: var(--cinzaSecundario);
	font-size: 14px;
	font-weight: 400;
}
