.menu {
	display: flex;
	/* Estilo */
	background-color: white;
	box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.06);

	/* Dimensionamento */
	width: 100vw;
	height: 58px;
	border-radius: 12px 12px 0px 0px;

	/* Posicionamento */
	bottom: 0%;
	left: 0%;
	position: fixed;
}

.menu__lista {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.menu__lista__item {
	align-items: center;
	display: flex;
	flex-direction: column-reverse;
	row-gap: 4px;
}

.menu__lista__item a,
i {
	color: var(--cinzaSecundario);
}

.menu__lista__item i {
	width: 26px;
	font-size: 1.3rem;
}

.menu__lista__item:nth-child(1) > *,
.menu__lista__item:hover * {
	color: var(--azulDetalhe);
}

.menu__lista__item__link {
	text-decoration: none;
	font-size: 12px;
	font-weight: 400;
}

@media screen and (min-width: 1440px) {
	.menu {
		align-items: flex-start;
		border-radius: 0;
		height: 100vh;
		top: 0%;
		width: 12vw;
	}

	.menu__lista {
		gap: 1rem 1.5rem;
		margin: 2rem 1rem;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.menu__lista__item {
		column-gap: 0.5rem;
		flex-direction: row-reverse;
	}

	.menu__lista__item__link {
		font-size: 1rem;
	}

	.menu__lista__item:nth-child(1) > a,
	.menu__lista__item:hover a {
		font-weight: 500;
	}
}
