.perfil {
	border-radius: 1rem;
	display: flexbox;
	flex-direction: column;
	margin-top: 2rem;
	position: relative;
	width: 780px;
}

.perfil__banner {
	background-image: url(../../images/imagem_de_capa.png);
	background-repeat: no-repeat;
	border-radius: 1rem 1rem 0 0;
	height: 230px;
	margin-left: 10vw;
	width: 100%;
}
