.banner {
    align-items: center;
    background: url(../imagens/banner.jpeg) 27% center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 350px;
    opacity: 0.85;
}