@import '../abstract/variaveis';

.promocional {
    background-color: $cor-terciaria;
    text-align: center;
    opacity: 0.9;
    h3 {
        color: $cor-primaria;
        font-size: $tamanho-do-texto/1.5;
        font-weight: 400;
    }
    h4 {
        color: gold;
        font-weight: 300;
    }
}