@import '../abstract/variaveis';

#servicos {
    margin: 5rem;
    h4 {
        color: $cor-primaria;
        font-size: $tamanho-do-texto / 2.5;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        margin: 1rem;
    }
    h3 {
        font-size: $tamanho-do-texto / 1.2;
        font-weight: 300;
        margin-bottom: 5rem;
        text-align: center;
    }
}