.principal {
    align-items: center;
    background-image: url("../imgs/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.container__caixa {
    margin: 0 6rem;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__logo {
    margin: 1rem 0 2rem 0;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    color: var(--branco-principal);
    display: block;
    margin-bottom: 1rem;
    padding: 1rem;
    text-decoration: none;
}

.container__botao--secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__botao--terciario {
    display: inline-block;
    margin-top: 1rem;
}

.container__aviso {
    color: var(--cinza-secundario);
    font-size: 12px;
}
