body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    .esquerdo {
        background-color: blueviolet;
        width: 50%;
        .texto {
            color: aquamarine;
            font-size: 150px;
            text-align: center;
            margin-top: 40%;
        }
    }
    .direito {
        background-color: aquamarine;
        width: 50%;
        .texto {
            color: blueviolet;
            font-size: 150px;
            text-align: center;
            margin-top: 40%;
        }
    }
}