$cor-principal: blueviolet;
$cor-secundaria: aquamarine;

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    .esquerdo {
        background-color: $cor-principal;
        width: 50%;
        .texto {
            color: $cor-secundaria;
            font-size: 150px;
            text-align: center;
            margin-top: 40%;
        }
    }
    .direito {
        background-color: $cor-secundaria;
        width: 50%;
        .texto {
            color: $cor-principal;
            font-size: 150px;
            text-align: center;
            margin-top: 40%;
        }
    }
}