.destaques {
	display: flex;
	flex-wrap: wrap;
	row-gap: 0.5rem;
}

.destaques__titulo {
	width: 100%;
}

.destaques__lista {
	display: flex;
	column-gap: 1rem;
}

.destaques__lista__item {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	height: calc(236px - 0.6rem);
	justify-content: space-around;
	padding-top: 0.6rem;
	width: 238px;
}

.destaques__lista__item__titulo,
.destaques__lista__item__legenda {
	padding-left: 14px;
}

.destaques__lista__item__titulo,
.destaques__lista__item__impressoes > p {
	color: var(--cinzaTextoSecundario);
	font-size: 12px;
}

.destaques__lista__item__legenda {
	font-size: 14px;
}

.destaques__lista__item__imagem {
	display: block;
	height: 152px;
	width: 236px;
}

.destaques__lista__item__impressoes {
	align-self: center;
	display: flex;
	justify-content: space-between;
	width: 95%;
}
