@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
	--pretoFundo: #000;
	--cinzaCard: #1d2226;
	--cinzaCard--ativo: hsla(0, 0%, 100%, 0.12);
	--cinzaPesquisa: #38434f;
	--brancoTextoPrincipal: hsla(0, 0%, 100%, 0.9);
	--cinzaTextoSecundario: hsla(0, 0%, 100%, 0.6);
	--pretoTexto: hsla(0, 0%, 0%, 0.75);
	--input: #38434f;
	--Azulprimario: #70b5f9;
	--positivo: #3ec786;

	--fontePadrao: "Roboto", sans-serif;
}

body {
	background-color: var(--pretoFundo);
	font-family: var(--fontePadrao);
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--brancoTextoPrincipal);
}

h1,
h2,
h3 {
	font-weight: 600;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

p {
	color: var(--brancoTextoPrincipal);
	font-size: 14px;
	line-height: 20px;
}

a {
	color: var(--Azulprimario);
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
}

.--containerPadrao {
	background-color: var(--cinzaCard);
	border-radius: 16px;
	margin: 0 0 1rem 10vw;
	padding: 1rem;
	width: calc(780px - 2rem);
}

.--imgPublicacao1 {
	background-image: url(../images/publicacao-1.jpg);
}

.--imgPublicacao2 {
	background-image: url(../images/publicacao-2.jpg);
}

.--imgPublicacao3 {
	background-image: url(../images/publicacao-3.jpg);
}
