.sobre {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 24px;
	width: 42vw;
}

.sobre__span {
	color: var(--vermelhoDetalhe);
	font-weight: 600;
}

.sobre__titulo {
	font-size: 48px;
}

.sobre__texto {
	font-size: 20px;
	text-align: center;
	line-height: 30px;
}
