@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
	--pretoPrincipal: #101828;
	--pretoSecundario: #3a404e;
	--cinzaSecundario: #667085;
	--cinzaRodape: #98a2b3;
	--vermelhoDetalhe: #8e2424;

	--fontePrincipal: "Inter", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	font-family: var(--fontePrincipal);
	row-gap: 96px;
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--pretoPrincipal);
}

h2 {
	font-weight: 600;
}

h3 {
	font-size: 20px;
	font-weight: 500;
}

h4 {
	font-size: 18px;
}

p {
	color: var(--cinzaSecundario);
}
