.cabecalho {
	align-items: center;
	background-color: var(--brancoPrincipal);
	display: flex;
	justify-content: space-between;
	position: relative;
}

.cabecalho__icone {
	padding: 0.4rem;
}

.cabecalho__esquerda {
	align-items: center;
	display: flex;
}

.cabecalho__esquerda__titulo {
	display: none;
}

.cabecalho__esquerda__hamburguer {
	background-image: url(../imagens/icones/Menu.svg);
	background-size: contain;
	display: inline-block;
	height: 24px;
	width: 24px;
}

.cabecalho__esquerda__botao {
	display: none;
}

.cabecalho__esquerda__botao:checked
	~ .cabecalho__esquerda__menu
	> .cabecalho__esquerda__hamburguer {
	background-image: url("../imagens/icones/menu_black_24dp\ 1.png");
}

.cabecalho__esquerda__botao:checked ~ .cabecalho__esquerda__menu {
	background: var(--azulDegrade);
}

.cabecalho__esquerda__botao:checked ~ .cabecalho__esquerda__listaMenu {
	display: block;
}

.cabecalho__esquerda__listaMenu {
	background-color: white;
	display: none;
	position: absolute;
	top: 100%;
	width: 60vw;
}

.cabecalho__esquerda__listaMenu__titulo,
.cabecalho__esquerda__listaMenu__item {
	background-color: var(--brancoHeader);
	padding: 1rem;
}

.cabecalho__esquerda__listaMenu__titulo {
	color: var(--laranjaDestaque);
	font-weight: 700;
}

.cabecalho__esquerda__listaMenu__link {
	background: var(--azulDegrade);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-transform: uppercase;
}

.cabecalho__opcoes {
	display: none;
}

.cabecalho__direita__compras__texto,
.cabecalho__direita__usuario__texto {
	display: none;
}

@media screen and (min-width: 1024px) {
	.cabecalho__esquerda__titulo,
	.cabecalho__esquerda__titulo--negrito {
		font-family: var(--fonteSecundario);
		font-size: 30px;
	}

	.cabecalho__esquerda__titulo {
		display: inline-block;
		font-weight: 400;
	}

	.cabecalho__esquerda__titulo--negrito {
		font-weight: 700;
	}

	.cabecalho__esquerda__hamburguer {
		display: none;
	}

	.cabecalho__opcoes {
		display: flex;
	}

	.cabecalho__opcoes__item {
		padding: 2rem 1rem;
		text-transform: uppercase;
	}

	.cabecalho__opcoes__item__link {
		color: black;
		text-decoration: none;
	}

	.cabecalho__icone--favorito {
		display: none;
	}

	.cabecalho__opcoes__botao:checked
		~ .cabecalho__opcoes__menu
		> .cabecalho__opcoes__item {
		background: var(--azulDegrade);
		color: var(--brancoPrincipal);
	}

	.cabecalho__opcoes__botao {
		display: none;
	}

	.cabecalho__opcoes__botao:checked ~ .cabecalho__esquerda__listaMenu {
		display: block;
		width: auto;
	}

	.cabecalho__esquerda__listaMenu__item:hover {
		background: var(--azulDegrade);
	}

	.cabecalho__esquerda__listaMenu__item:hover
		> .cabecalho__esquerda__listaMenu__link {
		-webkit-text-fill-color: var(--brancoPrincipal);
		text-decoration: none;
	}
}

@media screen and (min-width: 1728px) {
	.cabecalho__direita__compras__texto,
	.cabecalho__direita__usuario__texto {
		display: block;
	}

	.cabecalho__direita {
		display: flex;
	}
	.cabecalho__direita__compras,
	.cabecalho__direita__usuario {
		align-items: center;
		color: black;
		display: flex;
		text-decoration: none;
	}

	.cabecalho {
		padding: 0 2rem;
	}

	.cabecalho__opcoes {
		margin-right: auto;
	}
}
