.teclado__tecla {
    background-color: var(--branca);
    border-radius: 30px;
    box-shadow: 3px 3px 0 var(--cinza);
    color: var(--vermelha);
    cursor: pointer;
    height: 120px;
    font-size: 1.75em;
    font-weight: bold;
    line-height: 120px;
    text-align: center;
    width: 120px;
  }
  
  .teclado__tecla.ativa,
  .teclado__tecla:active {
    background-color: var(--vermelha);
    border: 4px solid  var(--vermelha);
    box-shadow: 3px 3px 0 var(--vermelha-escura) inset;
    color: var(--branca);
    outline: none;
  }
  
  .teclado__tecla.focus,
  .teclado__tecla:focus {
    outline: none;
    box-shadow: 1px 1px 10px var(--luz);
  }
  
  .teclado__tecla.active:focus,
  .teclado__tecla:active:focus {
    box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz);
  }