.teclado {
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
    box-shadow: 6px 8px 0 6px #666, 10px 10px 10px #000;
    border-radius: 30px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
  }