@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

@import url(./cabecalho.css);
@import url(./banner.css);
@import url(./carrossel.css);
@import url(./card.css);
@import url(./topicos.css);
@import url(./contato.css);
@import url(./rodape.css);

:root {
	--brancoBackground: #ebecee;
	--brancoPrincipal: #ffffff;
	--laranjaDestaque: #eb9b00;
	--azulDegrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
	--azulTitulo: #002f52;

	--fontePrincipal: "Poppins", sans-serif;
}

body {
	background-color: var(--brancoBackground);
	font-family: var(--fontePrincipal);
	font-size: 16px;
	font-weight: 400;
}

hr {
	margin: 0;
}
