.categorias__lista {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}

@media screen and (min-width: 720px) {
	.categorias__lista {
		column-gap: 1.5rem;
		flex-wrap: wrap;
		row-gap: 1rem;
	}

	.destaques {
		align-items: center;
		display: flex;
		gap: 10px;
	}

	.destaques__barra {
		flex-grow: 1;
	}
}

@media screen and (min-width: 1440px) {
	.categorias {
		gap: 1rem 1.5rem;
		display: grid;
		grid-template-areas:
			"titulo vazio"
			"lista destaques"
			"lista imagem";
	}

	.categorias__titulo {
		grid-area: titulo;
	}

	.categorias__lista {
		grid-area: lista;
	}

	.categorias__destaques {
		grid-area: destaques;
	}

	.categorias__imagem {
		grid-area: imagem;
	}
}
