.eventos__lista {
	column-gap: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 1rem;
}

.eventos__item {
	flex-grow: 1;
	max-width: 400px;
}

@media screen and (min-width: 720px) {
	.eventos__lista {
		justify-content: end;
	}
}
