.rodape {
	background-color: white;
	border-radius: 12px 12px 0 0;
	box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.06);
	height: 8%;
	width: 100vw;
	position: fixed;
	top: 92vh;
	left: 0;
}

.rodape__itens {
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}

.rodape__itens__item {
	width: 20%;
}

.rodape__itens__item__icone {
	background-repeat: no-repeat;
	display: block;
	height: 1.6rem;
	position: relative;
	left: calc(50% - 20%);
	width: 1.6rem;
	margin: 10% 0;
}

.rodape__itens__item__icone--consultas {
	background-image: url(../../images/icones/Calendarioicone.svg);
}

.rodape__itens__item__icone--clientes {
	background-image: url(../../images/icones/clientes\ icone.svg);
}

.rodape__itens__item__icone--relatorios {
	background-image: url(../../images/icones/relatorios\ icone.svg);
}

.rodape__itens__item__icone--menu {
	background-image: url(../../images/icones/menu\ icone.svg);
}

.rodape__itens__item__texto {
	color: var(--cinzaSecundario);
	text-decoration: none;
	font-weight: 400;
}

.rodape__itens__item__texto--selecionado {
	color: var(--azulDetalhe);
	text-decoration: none;
	font-weight: 400;
}
